body{
    background-image: url(../image/bg-gradient.png);
    font-family: var(--font) ;
}
:root {
    --bg-color-white: #ffffff;
    --bg-primary--white: #F6F7FA;
    --bg-content--white: #FAFAFA;
    --bg-color-black: #0E1726;
    --bg-primary--black: #121A2A;
    --bg-content--black: #060818;
    --bg-color-hover: #4361ee;
    --menu-li-hover: #ebebeb;
    --theme-default: #307EF3;
    --theme-secondary: #EBA31D;
    --light-background: rgba(242, 243, 247, 0.7);
    --body-font-color: #2F2F3B;
    --chart-border: #ECF3FA;
    --recent-chart-bg: #FCFCFD;
    --light-bg: #EEF1F6;
    --white: #fff;
    --light2: #F5F6F9;
    --sidebar-border: rgba(0, 0, 0, 0.1);
    --chart-text-color: rgba(82, 82, 108, 0.8);
    --recent-dashed-border: rgba(82, 82, 108, 0.3);
    --chart-dashed-border: rgba(82, 82, 108, 0.2);
    --chart-progress-light: rgba(82, 82, 108, 0.1);
    --recent-box-bg: #F2F4F7;
    --recent-border: rgba(97, 101, 122, 0.25);
    --course-light-btn: #F2F3F7;
    --course-bg: #F7F7F7;
    --balance-profie-bg: #E0DFEF;
    --view-grid-bg: #ECF3FA80;
    --view-border-marker: rgba(48, 126, 243, 0.2);
    --light-slate: #F5F6F9;
    --text-gray: rgba(82, 82, 108, 0.8);
    --product-shadow: 0px 1px 0px rgba(82, 82, 108, 0.15);
    --light-shade-primary: rgba(48, 126, 243, 0.2);
    --dark-primary: rgba(115, 102, 255);
    --bs-heading-color: var(--body-font-color);
    --bs-card-color: var(--body-font-color);
    --bs-table-bg: transparent;
    --bs-body-bg: transparent;
    --fc-button-bg-color: var(--theme-default);
    --fc-button-active-bg-color: var(--theme-default);
    --fc-button-active-border-color: var(--theme-default);
    --fc-button-border-color: var(--theme-default);
    --fc-button-hover-bg-color: var(--theme-default);
    --fc-button-hover-border-color: var(--theme-default);
    --bs-heading-color: #363636;
    --bs-card-cap-color: #9B9B9B;
    --normal: #ECEAF3;
    --normal-shadow: #D9D8E3;
    --normal-mouth: #9795A4;
    --normal-eye: #595861;
    --active: #F8DA69;
    --active-shadow: #F4B555;
    --active-mouth: #F05136;
    --active-eye: #313036;
    --active-tear: #76b5e7;
    --active-shadow-angry: #e94f1d;
    --black: #000000;
    --font: "Nunito";
}
.container{
    margin: 0 auto;
    box-sizing: border-box;
}
.mainbox{
    display: flex;
    justify-content: center; 
    align-items: center;
     
}
h1{
    padding: 0;
    margin: 0;
}
.para{
    margin-bottom: 60px;
    color: #888EA8;
}
.form{
    margin: 100px 183px;
    padding: 80px 100px;
    background-color: #fff9;
    height: 40%;
    width: 40%;
}

input[type=text]{
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=password]{
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=submit] {
    width: 100%;
    background-image: linear-gradient(to right, #ED1364 , #4560EC);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-image: linear-gradient(to right, #4560EC , #ED1364);
    
  }
input[type=checkbox] {
    margin: 20PX 0;
}